body {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 14px;
    margin-top: 50px;
}

input:not([type="checkbox"]) {
    width: 100%;
    height: 30px;
}


.btn-submit {
    padding: 11px;
    border: none;
    border-radius: 10px;
}
.btn-submit:hover {
    cursor: pointer;
}

/* List TODOs */
.todo-title {
    margin-right: 10px ;
}
ul li {
    list-style: none;
}

.container-frm {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.container-frm .action-button button {
    padding: 5px;
    width: 78px;
    border: none;
    margin: 11px;
}

.container-frm .action-button button:hover {
    cursor: pointer;
    background-color: gray;
}